.container h1 {
    text-align: center;
}

.container p {
    text-align: center;
}

.container th {
    text-align: center;
}

.container td {
    text-align: center;
}

.nav-wrapper {
    padding: 0 2rem;
    background: #ff5722;
}

.price {
    font-size: 1.3rem;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product h1 {
    margin-bottom: 2rem;
}

.product img {
    max-width: 600px;
    height: auto;
}

.product .price.big {
    font-size: 2.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}